<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<div class="container mt-4">
    <h2 class="mb-4">Editar Curso</h2>

    <form action="/courses/update" method="POST">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do curso</label>
            <input type="text" class="form-control" id="nome" name="nome" value="<%= courses.nome %>" required>
        </div>

        <div class="mb-3">
            <label for="cargaHoraria" class="form-label">Carga horária</label>
            <input type="number" class="form-control" id="cargaHoraria" name="cargaHoraria" value="<%= courses.cargaHoraria %>" required>
        </div>

        <input type="hidden" name="id" value="<%= courses.id %>">
        <button type="submit" class="btn btn-dark">Editar</button>
    </form>
</div>

<%- include('../../partials/footer'); %>