<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>
<div class="container">
    <hr>
    <h2>Courses</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Workload</th>
                <th>Type</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach((course) => {%>
                <tr>
                    <td><%= course.id %></td>
                    <td><%= course.name %></td>
                    <td><%= course.workload %></td>
                    <td><%= course.type %></td>
                    <td><%= course.is_active ? 'Yes' : 'No' %></td>
                    <td>
                        <form //botar style="display: inline;">
                            <a href="/admin/courses/edit/<%= course.id %>" class="btn btn-warning">Edit</a>
                        </form>
                        <form method="post" action="/courses/delete" style="display: inline;" onsubmit="confirmDelete(event, this)"> 
                            <input type="hidden" name="id" value="<%= course.id %>">
                             <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a class="btn btn-success" href="/admin/courses/new">Create new course</a>
</div>
<%- include('../../partials/footer'); %>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Do you want to delete this course?")
        if (decision) {
            form.submit();
        }
    }
</script>